RewriteEngine On

RewriteRule ^$ home.php [L]

RewriteRule ^contact$ contact.php [L]
RewriteRule ^tarieven$ tarieven.php [L]
RewriteRule ^over-ons$ over-ons.php [L]
RewriteRule ^sponsor$ sponsor.php [L]