body{

}

.nav{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between; /* pushes left and right apart */
    align-items: center;
    padding: 10px;
    
}

ul { list-style: none; padding: 0;
     /* optional: removes left indentation */ margin: 0;
      /* optional: removes default spacing */ 
    }

.search{
justify-content: flex-end;
display: flex;
flex-direction: row;
gap: 40px;

}

.right{
display: flex;
flex-direction: row;
gap: 40px;

}

.right ul { display: flex; gap: 40px;
list-style: none; 
margin: 0; padding: 0; 
}

.folder{
    padding: 0 100px;
}

.main{
    background-color: brown;
    height: 300px;
    width: 100%;
}

.main2{
padding: 0 150px;
}

.box1{
    background-color: rgb(42, 50, 165);
    height: 150px;
    width: 50%;
}

.box2{
    background-color: rgb(12, 201, 144);
    height: 150px;
    width: 50%;
}

.box3{
    background-color: rgb(12, 201, 144);
    height: 150px;
    width: 100%;
}
.info-groep{
    background-color: rgb(201, 198, 12);
    height: 150px;
    width: 100%;
}

.main-top{
    display: flex;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
}

.card {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.esports{
    display: flex;
}

.boxe{
    background-color: rgb(42, 50, 165);
    height: 150px;
    width: 50%;
}
.boxp{
    background-color: rgb(12, 201, 144);
    height: 150px;
    width: 50%;
}

.footer1 {
    width: 100%;
    background: #222;
    color: white;
}
